body{
    margin: 0;
    font-family:Arial;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.text__align{
    text-align: center;
}

.topnav{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    border: 2px solid red;
    box-sizing: content-box;
    background-color: grey;
    margin-top: 15px;
}

.topnav a{
    display: flex;
    color: white;
    width: 100%;
    text-decoration: none;
    /* padding: 10px 0 10px 50px; */
}

.topnav a:hover{
    background-color: white;
    color: black;
}

.dropbtn{
    display: none;
}

header nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

header nav a:hover{
    color: grey;
}

header{
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: black;
    color: white;
    position: relative;
}

/* Mobile View <= 500px */
@media screen and (max-width: 500px){
    header{
        position: relative;
    }
    .dropbtn{
        display: block;
        position: relative;
        font-size: 20px;
    }
    .topnav a{
        padding: 10px 0;
    }
    header nav{
        display: none;
    }
    header h1{
        font-size: 1.5em;
    }
    .banner__content{
        text-align: center;
    }
    .content{
       display: flex;
       flex-direction: column-reverse;
    }
    .content .history{
        align-items: center;
    }
    .content .history h2{
        border-bottom: 2px solid red;
        border-radius: 10px;
        padding-bottom: 10px;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .contact{
        display: flex;
        flex-direction: column-reverse;
    }
    .contact .contact__content{
        text-align: center;
        border-top: 2px dotted red;
        border-bottom: 2px dotted red;
        margin-top: 50px;
    }
}


/* Home Page */
.banner{
    background-image: url("../img/banner-1.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.banner__content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner__content h2{
    border-bottom: 5px double rgb(233, 76, 76);
    padding: 20px 0;
}

.banner__content h3{
    margin: 0;
    border-bottom: 5px double rgb(233, 76, 76);
    padding-bottom: 20px;
}

.content{
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    margin: 50px 0;
    /* margin-bottom: 100px; */
}

.content div img{
    width: 100%;
    height: auto;
}

.history{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

footer{
    /* position: fixed; */
    background-color: black;
    color: white;
    /* right: 0;
    left: 0;
    bottom: 0; */
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Menu Page */
.menu{
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.menu [class^="item-"] div img{
    width: 250px;
}

.menu__page h2{
    border: 2px double red;
    padding: 5px 0;
}

/* Contact Us Page */
.contact{
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;
    margin-bottom: 50px;
}

.contact .flex{
    flex-direction: column;
}